<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsProductTable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="moment.js"></script>
</head>
<body>
<canvas id="cpuLoadChart" width="400" height="100"></canvas>
<div class="container" id="cpuLoad">
    <div>
        <span><b>Количество запросов:</b></span>
        <span>{{requestCounter}}</span>
    </div>
    <div v-if="requestCounter !== 0">
        <span><b>Процент ошибок:</b></span>
        <span>{{returnErrorsPercent()}}%</span>
    </div>
    <ul>
        <li
        v-for="cpuLoad in cpuLoads"
        >{{cpuLoad.y}} - {{(cpuLoad.x).format('h:mm:ss a')}}</li>
    </ul>
</div>
<script src="app.js"></script>
</body>
</html>