<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=60dbe527-250e-45e9-96a9-171fd30fc4dc&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<div class="container">
    <form id="app" novalidate="true">
        <div class="form-group pt-2">
            <input type="text" class="form-control" placeholder="ФИО" v-model="name">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" placeholder="Телефон" v-model="tel">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="email" v-model="email">
        </div>
        <div id="map"></div>
        <div class="form-group">
            <textarea class="comment form-control" type="text" maxlength="500" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-primary" @click="checkForm">Отправить</button>
        
        <p v-if="orderIsProcessed">Заказ оформлен!</p>
        <p v-if="errors.length">
            <b>Пожалуйста исправьте указанные ошибки:</b>
        </p>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        
    </form>
</div>
<script src="app.js"></script>
</body>
</html>