<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsProductTable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div class="container" id="app">
    <form class="pt-5">
        <div class="form-group row">
            
            <label for="priceFrom" class="col-sm-2 col-form-label mb-2">Цена от:</label>
            <div class="col-sm-3 mb-2">
                <input type="number" class="form-control" id="priceFrom" placeholder="0"
                       v-model="priceFrom"
                >
            </div>
            
            <label for="priceTo" class="col-sm-1 col-form-label mb-2">до:</label>
            <div class="col-sm-3 mb-2">
                <input type="number" class="form-control" id="priceTo" placeholder="10000"
                       v-model="priceTo"
                >
            </div>
            
            <div class="col-sm-3 mb-2">
                <button type="button" class="btn btn-secondary" @click="filterProducts()">Обновить</button>
            </div>
        </div>
    </form>
    
    <table class="table">
        <colgroup>
            <col span="1" width="5%">
            <col span="1" width="30%">
            <col span="2" width="20%">
            <col span="1" width="25%">
        </colgroup>
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена за Единицу</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr
                v-for="(product, index) in filteredProducts"
        >
            <th scope="row">{{index + 1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity * product.price}}</td>
        </tr>
        </tbody>
    </table>
    <p v-if="!filteredProducts.length">Нет данных, попадающих под условие фильтра</p>
</div>

<script src="app.js"></script>
</body>
</html>