.table {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.elTabCol,
.elTabCell {
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
    width: auto;
}

.elTabRow {
    display: -webkit-flex;
    display: flex;
}

.elTabCell {
    width: 100px;
    min-height: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
