<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsProductTable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="vue.js"></script>
</head>
<body>

<div class="container" id="app">
    <div class="row">
        <div class="btn-group btn-group-sm mx-auto">
            <button type="button" class="btn btn-secondary"
                    @click="addElTabRow"
            >+
            </button>
            <button type="button" class="btn btn-secondary"
                    @click="delElTabRow"
            >-
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="row">
                <div class="btn-group-vertical btn-group-sm mx-auto">
                    <button type="button" class="btn btn-secondary"
                            @click="addElTabColumn"
                    >+
                    </button>
                    <button type="button" class="btn btn-secondary"
                            @click="delElTabColumn"
                    >-
                    </button>
                </div>
            </div>
        </div>
        <div class="col-11">
            <div class="table elTabCol">
                <el-tab-row
                        v-for="(elTabRow, elTabRowIndex)  in elTable"
                        :key="elTabRow.id"
                        :el-tab-row="elTabRow"
                        :el-tab-row-index="elTabRowIndex"
                >
                </el-tab-row>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="el-tab-row-template">
    <div class="elTabRow">
        <div class="elTabCell"
             v-for="(elTabCell, elTabCellIndex) in elTabRow"
             :key="elTabCell.id"
             @dblclick="showInput(elTabCell)"
        >
            <span
                    v-if="elTabCell.spanVisibility"
            >{{elTabCell.value}}</span>
            <input type="text"
                   v-if="elTabCell.inputVisibility"
                   v-model="elTabCell.value"
                   v-focus
                   @blur="hideInput(elTabRowIndex, elTabCellIndex, elTabCell)"
            >
        </div>
    </div>
</script>

<script src="app.js"></script>
</body>
</html>